<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘟嘟可-家庭智慧監控系統</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-color: #ffffff;
            color: #000000;
            background-color: #e8d2c3
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top: 65px;">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
                <h2>註冊</h2>
                <hr />
                <form method="post" action="/reg">
                    <div class="form-group">
                        <label for="item">Username</label>
                        <input name="username" type="text" class="form-control" id="item" />
                    </div>
                    <div class="form-group">
                        <label for="time">Password</label>
                        <input name="password" type="password" class="form-control" id="time" />
                    </div>
                    <hr>
                    <div class="sp" style="margin-left: 119px;">
                        <button type="submit" class="btn btn-primary">
                            <span class="text">註冊</span>
                        </button>
                        <div class="bodydrop"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>