<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>家庭智慧監控系統</title>
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <style>
            .h-50{
                height: 50px;
            }
            </style>
</head>
<body>
    <div class="container">
        <div class="h-50"></div>
        <div class="alert alert-error" role="error_alert">
            <h1>登入失敗</h1>
            <p><a href="/login">點擊跳轉</a></p>
        </div>
    </div>
</body>
</html>