<!DOCTYPE html>
<html>
<head>
  <title>家庭智慧監控系統</title>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <script src="/socket.io/socket.io.js"></script>
  <style>
    #video-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #video {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <h2>跌倒偵測系統</h2>
                <div class="row text-right">
                    <div class="col-xs-6 text-left">
                        <button class="btn btn-primary">
                            <a href="/homepage" style="color: white; text-decoration: none;">回首頁</a>
                        </button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <form action="/logout" method="post">
                            <button class="btn btn-danger">登出</button>
                        </form>
                    </div>
                </div>
                <hr>
                <div id="video-container">
                  <img id="videoFall" alt="Live Stream">
                </div>
            </div>
        </div>
    </div>

    <script>
      const socket = io();
      socket.on('streamFall', (data) => {
        const img = document.getElementById('videoFall');
        img.src = 'data:image/jpeg;base64,' + data;
        
      });

      window.addEventListener('beforeunload', function() {
        navigator.sendBeacon('/homepage/close-python');
      });
    </script>
</body>
</html>
