<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家庭智慧監控系統</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <h2>室內監控系統</h2>
                <div class="row text-right">
                    <div class="col-xs-6 text-left">
                        <button class="btn btn-primary">
                            <a href="/homepage" style="color: white; text-decoration: none;">回首頁</a>
                        </button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <form action="/logout" method="post">
                            <button class="btn btn-danger">登出</button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>